.host {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.host * {
  scrollbar-width: none;
}

.host *::-webkit-scrollbar {
  display: none;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
}
